PORT=8080
DATABASE_URL=jdbc:postgresql://aws-0-us-east-2.pooler.supabase.com:5432/postgres?sslmode=require
DATABASE_USERNAME=postgres.citxmlurmzvkokjbtnhh
DATABASE_PASSWORD=TROQUE_PELA_SUA_SENHA

# Use somente no backend, nunca no mobile/Expo.
SUPABASE_URL=https://citxmlurmzvkokjbtnhh.supabase.co
SUPABASE_PUBLISHABLE_KEY=TROQUE_DEPOIS
SUPABASE_SECRET_KEY=TROQUE_DEPOIS
